<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="CSS/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- importo axios -->
    <title>Document</title>
</head>

<body>
    <div id="app">

        <div v-for="index in indirizzi">
            <div v-if="indirizzi.length==10">{{index}}</div>
            <div v-else="">caricamento</div>
        </div>

    </div>

    <script src="JS/script.js"></script>
</body>

</html>